body {
  font-family: "Lato", sans-serif;
}
.container
{
  text-align: center;
  font-family: Century Gothic;
  color: #5f5f5f;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e47b7b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
  line-height: 35px;
  font-size: 18px;
  font-family: Century Gothic;
  color: white;
}

.sidenav a:hover {
  text-decoration: none !important;
  font-size: 18px;
  color: white;
  background: #f88888;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 80px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
